{% extends "Tweet/tweet.html" %}

{% block title %}
	Twitter
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-3">
		<div class="card">
			<div class="card-header text-xs-center">
				@{{request.user.username}}
			</div>
			<div class="card-block">
				<h4 class="card-title text-xs-center">
					{{request.user.first_name}} {{request.user.last_name}}
				</h4>
				<table class="table-sm">
					<thead>
						<tr>
							<th>Tweets</th>
							<th>Followers</th>
							<th>Following</th>
						</tr>
					</thead>
					<tbody class="text-xs-center">
						<tr>
							<td>{{user_tweet}}</td>
							<td>{{request.user.profile.followed_by.all.count}}</td>
							<td>{{request.user.profile.follows.all.count}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-header text-xs-center">
				Trends
			</div>
			<div class="card-block">
				<ul class="list-group list-group-flush">
					{% for trend in trends %}
					<li class="list-group-item"><a href="/search?search=%23{{trend.hasgtag|slice:"1:"}}">{{trend.hasgtag}}</a> <small>{{trend.tweet_count}} tweets</small></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="card-block text-xs-center">
				<a href="/post_tweet" class="btn btn-warning btn-block" role="button">Tweet something!</a>
			</div>
				<ul class="list-group">
					{% for tweet_data in tweets_data %}
					<li class="list-group-item">
						{% if tweet_data.retweet_status %}
						<a href="/accounts/profile/user/{{tweet_data.user.username}}" style="color:black !important">
						<small class="text-muted">@{{tweet_data.user.username}}</a> retweet</small>
						<h5 class="list-group-item-heading">
							<a href="/accounts/profile/user/{{tweet_data.origin_tweet_user.username}}" style="color:black !important">
								{{tweet_data.origin_tweet_user.first_name}} {{tweet_data.origin_tweet_user.last_name}}
							</a> <small class="text-muted">@{{tweet_data.origin_tweet_user.username}}
								<a href="{{tweet_data.origin_tweet_user.username}}/{{tweet_data.id}}">
									{{tweet_data.timestamp|timesince}}</a></small></h5>
							{% else %}
							<h5 class="list-group-item-heading">
								<a href="/accounts/profile/user/{{tweet_data.user.username}}" style="color:black !important">
									{{tweet_data.user.first_name}} {{tweet_data.user.last_name}}
								</a> <small class="text-muted">@{{tweet_data.user.username}}
									<a href="{{tweet_data.user.username}}/{{tweet_data.id}}">
										{{tweet_data.timestamp|timesince}}</a></small></h5>
							{% endif %}
							<p class="list-group-item-text responsive-image" style="word-wrap: break-word;">{{tweet_data.html_tags_edit}}</p>
							<div class="row">
								<form class="form-group col-xs-4" action="/retweet" method="post">{% csrf_token %}
									<input type="hidden" name="retweet" value="{{tweet_data.id}}">
									<button class="btn btn-default" type="submit">
										<i class="fa fa-retweet" aria-hidden="true"></i>
									</button>
								</form>
							{% load tweet_tags %}
							<form class="form-group col-xs-4" action="/like" method="post">{% csrf_token %}
							    <input type="hidden" name="like" value="{{tweet_data.id}}">
							    {% if request.user.id|check_if_liked:tweet_data.id  == 1 %}
							    <button type="submit" class="btn btn-default" value="like">
							      <i type="submit" class="fa fa-heart" aria-hidden="true">{{tweet_data.like.all.count}}</i>
							    </button>
							    {% else %}
							    <button type="submit" class="btn btn-default" value="like">
							      <i type="submit" class="fa fa-heart-o" aria-hidden="true">{{tweet_data.like.all.count}}</i>
							    </button>
							    {% endif %}
							</form>
							<form class="form-group col-xs-4" action="/{{tweet_data.user.username}}/{{tweet_data.id}}">
							    <button type="submit" class="btn btn-default" value="like">
										<i class="fa fa-reply" aria-hidden="true">{{tweet_data.reply_count}}</i>
							    </button>
							</form>
						</div>
						</li>
						{% endfor %}
					</ul>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
				<div class="card-header text-xs-center">
					Who to Follow
				</div>
				<div class="card-block">
					<ul class="list-group list-group-flush">
						{% for person in who_to_follow %}
							<li class="list-group-item"><a href="/accounts/profile/user/{{person.username}}" class="card-link">@{{person.username}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
